@import url(variable.css);

/* HEAEDR  */
header {
    background-color: var(--xx-color-primary);
}

/* /HEAEDR  */

/* FIRST SECTION */
.bg-green {
    background-color: #1abc9c;
}

.xx-content {
    width: 220px;
}

/* /FIRST SECTION */

/* SECOND SECTION */
.portfolio {
    padding: 3.75rem 0;
    color: var(--xx-color-primary);
}

/* /SECOND SECTION */

/* FOURTH SECTION */
.contact{
    color: var(--xx-color-primary);
}

/* /FOURTH SECTION */

/* FOOTER */
footer {
    background-color: var(--xx-color-secondary);
}

.bg-copy {
    background-color: var(--xx-color-primary);
}

.pt-footer {
    padding-top: 58px;
}

/* /FOOTER */

/* COMPONETS */
.xx-line-star {
    color: currentColor;
    font-size: 1.875rem;
}

.xx-line-star::after,
.xx-line-star::before {
    content: '';
    display: inline-block;
    width: 13%;
    border: 3px solid;
    border-radius: 10px;
    vertical-align: middle;
    margin: 30px 10px;
}

/* COMPONETS */