
hr{
    margin: 35px auto;
    width: 12.5rem;
}




.debug .col{
    background-color: red;
}
/* HEAEDR  */
header{
    background-color: #2c3e50;
    color: var(--bs-white);
    /* height ??????????*/
}
/* /HEAEDR  */

/* FIRST SECTION */
.start{
    background-color: #1abc9c;
    color: var(--bs-white);
}
/* FIRST SECTION */

.portfoglio{
    padding: 3.75rem 0;
}

.portfoglio img{
    width: 100%;
}
