
/* HEAEDR  */
header{
    background-color: #2c3e50;
    color: var(--bs-white);
    /* height ??????????*/
}
/* /HEAEDR  */

/* FIRST SECTION */
.bg-section{
    background-color: #1abc9c;
    color: var(--bs-white);
}
/* FIRST SECTION */

