hr{
    margin: 35px auto;
    width: 12.5rem;
} 

/* HEAEDR  */
header{
    background-color: #2c3e50;
    color: var(--bs-white);
    /* height ??????????*/
}
/* /HEAEDR  */

/* FIRST SECTION */
.bg-green{
    background-color: #1abc9c;
    color: var(--bs-white);
}
/* /FIRST SECTION */

/* SECOND SECTION */
.portfoglio{
    padding: 3.75rem 0;
}

.portfoglio img{
    width: 100%;
}
/* /SECOND SECTION */

/* FOOTER */
footer{
    background-color: #3a546d;
    color: var(--bs-white);
}

.bg-copy{
    background-color: #2c3e50;
}

.pt-footer{
    padding-top: 58px;
}
/* /FOOTER */