/* HEAEDR  */
header {
    background-color: var(--xx-color-primary);
}

/* /HEAEDR  */

/* FIRST SECTION */
.xx-bg-green {
    background-color: var(--xx-bg-primary);
}
/* /FIRST SECTION */

/* SECOND SECTION */
.xx-portfolio {
    color: var(--xx-color-primary);
}

/* /SECOND SECTION */

/* FOURTH SECTION */
.xx-contact {
    color: var(--xx-color-primary);
}

.xx-contact button.btn.btn-primary {
    background-color: var(--xx-bg-primary);
}

/* /FOURTH SECTION */

/* FOOTER */
footer {
    background-color: var(--xx-color-secondary);
}
.xx-bg-copy {
    background-color: var(--xx-color-primary);
}

.xx-color-primary{
    color: var(--xx-bg-primary);
}
/* /FOOTER */