/* FIRST SECTION */
.xx-content {
    width: 220px;
}

/* /FIRST SECTION */

/* SECOND SECTION */
.portfolio {
    padding: 3.75rem 0;
}

/* /SECOND SECTION */



/* FOOTER */

.xx-pt58 {
    padding-top: 58px;
}

/* /FOOTER */
